@import "../../constants/__variables";

#edit__photo__component{
    height: 100vh;
    .edit__photo__header{
        padding: 0px 15px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .close__btn{
            background: none;
            border: 0px;
        }

        .close__btn__svg{

        }

        p{
            font-weight: $boldFontWeight;
            color: $dark;
        }

        .next__btn{
            background: none;
            border: 0px;
            // padding-right: 10px;
            font-weight: $boldFontWeight;
            color: $secondary;
        }
    }

    div#canvas__holder{
        width: 100%;
        height: 320px;
        display: flex;
        justify-content: center;
        canvas{
            width: 100%;
            height: 100%;
        }
    }

    .edit__photo__component__upper__bottom__tab{
        height: 140px;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        scroll-behavior: smooth;
        overflow-x: scroll;
        display: flex;
        .filter{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 0 4px;
            p{
                font-size: $smallFont;
                color: $grey;
            }
            img{
                width: 100px;
                height: 100px;
            }
        }

        .edit{
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            align-self: center;
            align-items: center;
            margin: 0 10px;

            p{
                font-size: 10px;
                margin-bottom: 5px;
            }


            .icon__holder{
                border: 1px solid $grey;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 25px;
                    padding: 8px 12px;
                }
            }
        }

        .input__slider__container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            padding: 0 20px;
            input{
                width: 100%;
                appearance: none;
                outline: none;
                height: 3px;
                border-radius: 5px;
                background-color: #ccc;
                columns: #ccc;
            }


            input::-webkit-slider-thumb {
                background: #000;
                appearance: none;
                box-shadow: 1px 2px 26px 1px #bdbdbd;
                width: 12px;
                height: 12px;
                border-radius: 50%;
            }
        }
    }
    #edit__photo__bottomtab__component{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        
        div{
            // border: 1px solid $grey;
            flex-grow: 1;
            text-align: center;
            padding: 8px 0;
            p{
                color: $grey;
            }
        }

        div.active{
            border-top: 1px solid $dark;
            p{
                color: $dark;
                font-weight: $boldFontWeight;
            }
        }
    }
}