$white: #fff;
$secondary: #0095f6;
$light: #fafafa;
$dark: #262626;
$danger: #ed4956;
$grey: #8e8e8e;
$lightGrey: #dbdbdb;

$smallFont: 14px;
$mediumFont: 16px;
$largeFont: 18px;

$lineHeight: 18px;

$thinFontWeight: 400;
$boldFontWeight: 600;


$instagramLogoTextWidth:150px;