@import "../constants/__variables";

#forgot__password__component{
    background-color: $light;

    .header{
        background-color: $white;
        border-bottom: 1px solid $lightGrey;
        margin-bottom: 50px;
        .instagram__logo__text{
            width: 100px;
            margin-left: 5%;
        }
    }

    .body{
        background-color: $white;
        margin: 0px 15px;
        border: 1px solid $lightGrey;
        padding: 0px 40px 100px;
        .padlock__image{
            width: 100px;
            display: block;
            margin: auto;
            margin-top: 20px;
            height: 110px;
        }

        .title{
            font-weight: $boldFontWeight;
            font-size: $smallFont;
            text-align: center;
        }

        .subtitle{
            color: $grey;
            font-size: $smallFont;
            text-align: center;
            line-height: $smallFont;
            margin: 12px 0px;
        }

        .forgot__pass__form{
            input{
                background-color: $light;
                font-size: $smallFont;
            }
        }

        .send__login__link__button{
            width: 100%;
            background-color: $secondary;
            font-weight: $boldFontWeight;
            font-size: $smallFont;
            margin-bottom: 10px;
        }

        .or{
            margin: 20px 0px;
            display: flex;
            align-items: center;
            font-weight: $boldFontWeight;
            p{
                margin: 0px 15px;
                color: $grey;
                font-size: $smallFont;
            }
            div{
                border-top: 1px solid $lightGrey;
                width: 50%;
            }
        }

        .sign__up__text{
            font-weight: $boldFontWeight;
            font-size: $smallFont;
            text-align: center;            
        }
    }

    .back__to__login__holder{
        margin: 0 15px;
        background-color: $light;
        border: 1px solid $lightGrey;
        padding: 12px 0px;
        p{
            font-size: $smallFont;
            font-weight: $boldFontWeight;
            text-align: center;
        }
    }


    .footer{
        font-size: $smallFont;
        color: $grey;
        .top
        {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            text-align: center;
            justify-content: center;
            margin-bottom: 10px;
            margin-top: 60px;
            .footer__content
            {
                margin: 0px 3px;
            }
        }

        .bottom{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 40px;
            .form-group{
                margin: 0px;
            }

            select
            {
                border: 0px;
                width: 90px;
                display: block;
                margin: auto;
                background-color: $light;
            }
            select:focus
            {
                box-shadow: none;
            }

            p{
                font-size: 12px;
                margin: 0px;
            }
        }
    }
}


@media (min-width: 600px) {
    #forgot__password__component{
        width: 400px;
        display: block;
        margin: auto;
    }
}